DATA:
    IMAGE_SIZE: 256
    CROP_PCT: 0.95
MODEL:
    TYPE: halo
    NAME: halonet_50ts
    ACT: silu
    BLOCK_SIZE: 8
    HALO_SIZE: 3
    #PRETRAINED: halonet_50ts_256
    STAGE1_BLOCK: ['bottle','bottle','bottle']
    STAGE2_BLOCK: ['bottle','bottle','bottle','attn']
    STAGE3_BLOCK: ['bottle','attn','bottle','attn','bottle','attn']
    STAGE4_BLOCK: ['bottle', 'attn', 'bottle']
    CHANNEL: [64,256,512,1024,2048]
    HIDDEN_CHANNEL: None
    NUM_HEAD: [0,4,8,8]
    STRIDE: [1,2,2,2]
    DEPTH: [3,4,6,3]
    NUM_CLASSES: 1000
TRAIN:
    NUM_EPOCHS: 300
    WARMUP_EPOCHS: 3
    WEIGHT_DECAY: 0.3
    BASE_LR: 0.003
    WARMUP_START_LR: 1e-6
    END_LR: 5e-4
    ACCUM_ITER: 1
